<%- include('page_header') %>

<div class="container">
    <div class="alert alert-success">
        <span class="icons material-symbols-outlined">
            task_alt
            </span>
        บันทึกข้อมูลแล้ว ขอบคุณที่ใช้บริการ
    </div>
</div>

<%- include('page_footer') %>