<%- include('header') %>
<div class="mt-3 alert alert-success">
    <span class="icons material-symbols-outlined">
        task_alt
        </span>
    บันทึกการจัดส่งเรียบร้อยแล้ว
</div>

<%- include('footer') %>